<div class="container margenes">
    <div class="row">
        <div class="col-7">
            <h4> Hola {{persona}}! </h4>
        </div>
        <div class="col-5 text-end">
            <a href="/admin/login/logout" class="btn btn-danger">Cerrar sesión <i class="fa-solid fa-right-from-bracket"></i></a>
        </div>

    </div>
    <div class="row">
        <div class="col-7 margenes">
            <h2> Listado de novedades</h2>
        </div>
        <div class="col-5 text-end margenes">
            <a class="btn btn-success" href="/admin/novedades/agregar"><i class="fa-solid fa-plus"></i> Nuevo </i></a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped margenes">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">#</th>
                        <th scope="col">Titulo</th>
                        <th class="text-end" scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each novedades}}
                    <tr>
                        <th scope="row"> {{id}} </th>
                        <td> {{titulo}} </td>
                        <td class="text-end">
                            <a class="btn btn-secondary" href="/admin/novedades/modificar/{{id}}"><i class="fa-solid fa-pencil"></i></a>
                            <a class="btn btn-secondary" href="/admin/novedades/eliminar/{{id}}"><i class="fa-solid fa-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

</div>